<!DOCTYPE html>
<html  lang="uz" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
</head>
<body>
<h1>Contact List</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>T/r</th>
            <th>Ismi</th>
            <th>Familiyasi</th>
            <th>Otasining ismi</th>
            <th>Raqami</th>
        </tr>
    </thead>
    <tbody id="contactBody"></tbody>

</table>

<script th:src="@{/assets/js/jQuery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.js}"></script>
<script th:src="@{/assets/js/popover.js}"></script>
<script th:src="@{/assets/js/contact.js}"></script>
</body>
</html>